[Unit]
Description=passport server service
After=network.target

[Service]
Type=simple
Restart=always
User=passport-api
WorkingDirectory=/usr/share/ninja_syndicate/passport-api_online
ExecStart=/usr/share/ninja_syndicate/passport-api_online/passport-api serve
EnvironmentFile=/usr/share/ninja_syndicate/passport-api_online/init/passport-api.env
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
