[Unit]
Description=passport server service
After=network.target

[Service]
Type=simple
Restart=always
User=passport-api
LimitNOFILE=65536
WorkingDirectory=/usr/share/ninja_syndicate/passport-api-online
ExecStart=/usr/share/ninja_syndicate/passport-api-online/passport-api serve
EnvironmentFile=/usr/share/ninja_syndicate/passport-api-online/init/passport-api.env

[Install]
WantedBy=multi-user.target
